body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #841be6, #0499ca); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  button {
    padding: 10px;
    margin: 5px;
  }
  
  #greeting_message {
    font-size: 24px;
    font-weight: bold;
  }
  